## Dictionary
- Dictionary is a collection of elements in the form of key:value pair.
- keys must be unique
- They must be of immutable type , numbers are also treated as immuatable type.
- value can be anything

In [29]:
# To create an empty dictionary
d={}

In [2]:
d=dict()
#method 2

In [3]:
print(type(d))

<class 'dict'>

In [4]:
#adding elements to the dictionary d
d["Banana"]="fruit"
d["Cucumber"]="veg"
d["Mango"]="fruit"

In [5]:
print(d)

{'Banana': 'fruit', 'Cucumber': 'veg', 'Mango': 'fruit'}

In [6]:
#now if we assign a value to the key value that already exits , then it wont give an error , instead it will change the value 
d["Banana"]=25
print(d)

{'Banana': 25, 'Cucumber': 'veg', 'Mango': 'fruit'}

In [7]:
#dictionary is called as a hashable datatype , since storage does not happen in a linear or sequential order
#thus the way we enter elements may not be same while printing them (order)

In [34]:
tel_dir={"Tom":3491,"Jerry":8135,"Donald":4793}
"Tom" in tel_dir

True

In [ ]:
#the in operator is used to check if the given key is present in the list

In [36]:
t=tel_dir.keys()
print(type(t))

<class 'dict_keys'>

In [ ]:
#here dict_keys is a data type and we cannot perform any operations on the list 
# when it is in this format , we therefore convert this to a list using the list function as follows:

- keys()
- values()
- items()

In [10]:
ls1=list(tel_dir.keys())
print(ls1)

['Tom', 'Jerry', 'Donald']

In [11]:
ls2=list(tel_dir.values())
print(ls2)

[3491, 8135, 4793]

In [37]:
items_1=tel_dir.items()
print(items_1)

dict_items([('Tom', 3491), ('Jerry', 8135), ('Donald', 4793)])

In [14]:
ls3=list(tel_dir.items())
print(ls3)

[('Tom', 3491), ('Jerry', 8135), ('Donald', 4793)]

In [42]:
print(ls3)

[('Mick', 9121), ('Jerry', 8135), ('Donald', 4793)]

In [40]:
#here we can access the elements and change values too
ls3[0]=('Mick',9121)

In [41]:
ls3[0][1]

9121

In [18]:
print(ls3)

[('Mickey', 9121), ('Jerry', 8135), ('Donald', 4793)]

In [19]:
ls3[0][1]

9121

In [20]:
d

{'Banana': 25, 'Cucumber': 'veg', 'Mango': 'fruit'}

In [21]:
tel_dir

{'Tom': 3491, 'Jerry': 8135, 'Donald': 4793}

In [ ]:
#using get() function

In [22]:
students={"Tom":24,"Jerry":25,"Donald":21}
print(students.get("Jerry",0))
#as Jerry is present in the dictionary it will give the value 25 , if it was not present it would give 0
print(students.get("Mickey","not found"))

25
not found

In [23]:
#Write a program to read a string . Count number of occurences of each character in the string . Use dictionary.
# Example input string is "Hello"
#then output must be {'h':1,'e':1,'l':2,'o':1}

In [24]:
d={}
sen=input("Enter the string")
for i in sen:
    num=sen.count(i)
    d[i]=num
print(d)

Enter the stringHello
{'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [25]:
#another usage of items() function
for k,v in tel_dir.items():
    print("key is :",k,"value is :",v )

key is : Tom value is : 3491
key is : Jerry value is : 8135
key is : Donald value is : 4793

In [26]:
#method2
d={}
s=input("enter the string")
for ch in s:
    d[ch]=d.get(ch,0)+1
print("final dictionary :",d)

enter the stringHello
final dictionary : {'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [27]:
#read a sentence
#Count the length of each word in that sentence.
#Display all the words in the descending order of their length in the form of list

In [6]:
txt=input("enter a string")
words=txt.split(" ")
t=list()
for word in words:
    t.append((len(word),word))
    
t.sort(reverse=True)
res=list()
for length,word in t:
    res.append(word)
    
print(res)

enter a stringIndia is a great country, karnataka is one of its states
['karnataka', 'country,', 'states', 'great', 'India', 'one', 'its', 'of', 'is', 'is', 'a']

In [28]:
?list.sort

In [9]:
txt=input("enter a string")
words=txt.split(" ")
words.sort(key=len,reverse=True)
print(words)
#here we are sorting based on a parameter called length of the word

enter a stringIndia is a great country, karnataka is one of its states
['karnataka', 'country,', 'states', 'India', 'great', 'one', 'its', 'is', 'is', 'of', 'a']

## Sets

In [43]:
#sets are also hashable types

In [44]:
#defining a set
st=set()
print(type(st))

<class 'set'>

In [53]:
st1={"lll"}
print(type(st1))

<class 'set'>

In [45]:
#creating a simple set
st={"Apple","Banana","Orange"}
print(type(st))

<class 'set'>

In [46]:
print(st)

{'Banana', 'Apple', 'Orange'}

In [59]:
#adding an element to a set
st.add('66')
st

{(66, 99), '66', 66, 'Apple', 'Banana', 'Orange'}

In [51]:
#a set does not contain duplicate elements as compared to a list
#to remove an element from a list
st.remove("Cherry")
print(st)

{'Banana', 'Apple', 'Orange'}

In [63]:
#adding more than one element at a time
st.update({"C1","P1"})
print(st)

{'66', 66, 'P', 'C1', 'Apple', 'Papaya', 'Orange', 'C', 'Banana', 'Cherry', (66, 99), 'P1'}

In [19]:
#sets do not allow duplication of data elements
st={"Apple","Banana","Orange","Banana"}
print(st)

{'Apple', 'Orange', 'Banana'}

In [21]:
# st[0] set object is not subscriptable

In [22]:
#Write a program to eliminate repeated entries in a list and keep single copy of each element
ls=[1,3,21,1,1,1,3,3,4,5,6,7,7]
ls1=list(set(ls))
print(ls1)

[1, 3, 4, 5, 6, 7, 21]

# Lambda Function
- Functions without name.
- Simple functions where the task to be carried out is small.
- can take arguments

In [1]:
#simple example of lambda function
x=lambda a : a+10
print(x(5))

15

In [6]:
#lambda function with 2 arguments
x=lambda a,b :a*b
print(x(2,3))
print(x(2,-3))

6
-6

In [7]:
#lambda function with filter() to get only even numbers
#filter function takes two arguments 1. lambda function, 2.list or input data
ls=[5,3,32,97,54,62,77,23,73,61]
final_list=list(filter(lambda x:(x%2!=0),ls))
print(final_list)

[5, 3, 97, 77, 23, 73, 61]

In [8]:
#the filter functions keeps only those values that satisfy the condition given in lambda, rest elements are discarded

In [13]:
#extract the words from a string those having length as 3
sen=input("Enter a string")
ls=sen.split(" ")
print(ls)
final_list=list(filter(lambda x:len(x)==3,ls))
print(final_list)

Enter a stringhi how are you
['hi', 'how', 'are', 'you']
['how', 'are', 'you']

In [14]:
#extract the words from a string that are starting with "h"
sen=input("Enter a string")
ls=sen.split(" ")
print(ls)
final_list=list(filter(lambda x:x[0]=='h',ls))
print(final_list)

Enter a stringhi how are you
['hi', 'how', 'are', 'you']
['hi', 'how']

In [16]:
#the second argument for the filter function must be an iterable object

# Map function

In [18]:
ls=[5,3,32,97,54,62,77,23,73,61]
final_list=list(map(lambda x: x*2,ls))
print(final_list)

[10, 6, 64, 194, 108, 124, 154, 46, 146, 122]

In [23]:
#finding varience and standard deviation
ls=[5,7,22,97,54,62,77,23,73,61]
total=sum(ls)
avg=total/len(ls)

final_list=list(map(lambda x:(x-avg)**2 ,ls))
total1=sum(final_list)
var=total1/len(final_list)
print("varience is :",var)

varience is : 909.8900000000001

In [24]:
#lambda function with reduce

In [25]:
from functools import reduce

In [26]:
ls=[5,8,10,20,50,100]
total=reduce((lambda x,y :x+y),ls)
print(total)

193

In [27]:
ls=["hi","hello","how","are","you"]
total=reduce((lambda x,y :x+y),ls)
print(total)

hihellohowareyou

In [28]:
#write a python function histogram(ls) that takes as input a list of integers with repetitions and returns a list of pairs 
#as follows
#for each number n that appears in ls, there should be exactly one pair(n,r) in the list returned by the function, where r is
#the number of repetitions of n in ls.
#the final list should be sorted in ascending order by r, the number of repetitions. For numbers that occur with the same number
#of repetitions , arrange the pairs in ascending order of the value of the number

In [60]:

def histogram(ls):
    dic={}
    for i in ls:
        num=ls.count(i)
        dic[i]=num
    #print(dic)
    ls2=[]
    for k,v in dic.items():
        ls2.append((k,v))
    print("without sorting",ls2)
    #ls2.sort(key=lambda x: x[1])
    ls2.sort(key =lambda sl: ((sl[1],sl[0])))
    print("with sorting",ls2)
   
        
        
ls1=[]
num=int(input("Enter the number of elements"))
for i in range(0,num):
    ele=int(input())
    ls1.append(ele)
#print("the list is :",ls1)
histogram(ls1)

Enter the number of elements20
1
2
3
4
5
5
4
3
3
4
5
5
4
3
6
6
7
8
8
8
without sorting [(1, 1), (2, 1), (3, 4), (4, 4), (5, 4), (6, 2), (7, 1), (8, 3)]
with sorting [(1, 1), (2, 1), (7, 1), (6, 2), (8, 3), (3, 4), (4, 4), (5, 4)]

######