In [ ]:
import numpy as np
T = int(input())
m=[]
for i in range(T):
    row=input().split(" ")
    marks1=int(row[1])
    marks2=int(row[2])
    m.append([marks1,marks2])
mean=np.mean(m)
for i in m:
    if(((i[0]+i[1])/2)>np.mean):
        print(1.0)
    else:
        print(0.0)

In [ ]:
Alex 18 54 Australia
Bob 15 64 China
Clarke 16 70 Mexico

In [9]:
import pandas as pd
T=int(input())
campaign_name=input().split(" ")
no_of_emails=[]
email_open_rate=[]
emails=input().split(" ")
open_rate=input().split(" ")
for i in emails:
    no_of_emails.append(int(i))
for i in open_rate:
    email_open_rate.append(int(i))
marks=0
ls=pd.DataFrame([campaign_name,no_of_emails,email_open_rate])
print(ls)

print(ls.iloc[0])
for i in ls:
    if(i[2]>mean):
        print("True")
    else:
        print("False")

d

ValueError: invalid literal for int() with base 10: 'd'

In [7]:
SoftBank Apple Microsoft Amazon
2845 3425 2942 4215
1253 3256 2100 1252
ls

In [12]:
l1=["SoftBank", "Apple", "Microsoft", "Amazon"]
l2=[2845, 3425, 2942, 4215]
l3=[1253, 3256, 2100, 1252]
ls=pd.DataFrame([campaign_name,no_of_emails,email_open_rate])
print(ls)
for i in ls:
    print(ls[i])

          0      1          2       3
0  SoftBank  Apple  Microsoft  Amazon
1      2845   3425       2942    4215
2      1253   3256       2100    1252
0    SoftBank
1        2845
2        1253
Name: 0, dtype: object
0    Apple
1     3425
2     3256
Name: 1, dtype: object
0    Microsoft
1         2942
2         2100
Name: 2, dtype: object
0    Amazon
1      4215
2      1252
Name: 3, dtype: object

In [15]:
import numpy as np
np.arange(2,12,3)

array([ 2,  5,  8, 11])

In [47]:
import math
stp=int(input())
enp=12
step=3
list1=list(np.arange(2,12,3))
list2=['axe', 'bar', 'cat', 'div', 'eli', 'fif', 'gor', 'had']
l=len(list2)-len(list1)
for i in range(l):
    list1.append(math.nan)
index=[0,1,2,3,4,5,6,7]
list1=pd.Series(list1)
list2=pd.Series(list2)
res=pd.concat([list1,list2],axis=1)
print(res)
n=int(inp[0])
pos=int(inp[1])
if(pos==1):
    print(ser[:n])
else:
    print(ser[-n:])

      0    1
0   2.0  axe
1   5.0  bar
2   8.0  cat
3  11.0  div
4   NaN  eli
5   NaN  fif
6   NaN  gor
7   NaN  had

In [44]:
ls1=[1,2,3,4,5]
ls2=[6,7,8,9,10]
ls1=pd.Series(ls1)
ls2=pd.Series(ls2)
pd.concat([ls1,ls2],axis=1)

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [40]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']}, 
                    index = ['K0', 'K1', 'K2', 'K3']) 
  
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'], 
                      'D': ['D0', 'D1', 'D2', 'D3']}, 
                      index = ['K0', 'K1', 'K2', 'K3']) 
                        
# Joining the dataframes                       
left.join(right)

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

In [ ]:
T=int(input())
campaign_name=input().split(" ")
no_of_emails=[]
email_open_rate=[]
emails=input().split(" ")
open_rate=input().split(" ")
for i in emails:
    no_of_emails.append(int(i))
for i in open_rate:
    email_open_rate.append(int(i))
marks=0

ls=list(zip(campaign_name,no_of_emails,email_open_rate))

for i in ls:
    marks=marks+i[2]
mean=marks/4
for i in ls:
    if(i[2]>mean):
        print("True")
    else:
        print("False")

In [50]:
ls=[1,2,3]
d={}
d["kkk"]=ls
d

{'kkk': [1, 2, 3]}

In [49]:
d

{'lll': [12, 34]}

In [101]:
import pandas as pd
import numpy as np
T=int(input())
campaign_name=input().split(" ")
no_of_emails=[]
email_open_rate=[]
ls=[]
emails=input().split(" ")
open_rate=input().split(" ")
for i in emails:
    no_of_emails.append(int(i))
for i in open_rate:
    email_open_rate.append(int(i))
d={}
for i in range(4):
    d[campaign_name[i]]=[no_of_emails[i],email_open_rate[i]]
data=pd.DataFrame(d) 
mean=(np.sum(data.iloc[0])+np.sum(data.iloc[1]))/8


for i in range(data.shape[1]):
    
    if(data.iloc[1,i]>mean):
        
        print("True")
    else:
        print("False")

4
SoftBank Apple Microsoft Amazon
2845 3425 2942 4215
1253 3256 2100 1252
False
True
False
False

In [ ]:
4
SoftBank Apple Microsoft Amazon
2845 3425 2942 4215
1253 3256 2100 1252

In [58]:
data

   SoftBank  Apple  Microsoft  Amazon
0      2845   3425       2942    4215
1      1253   3256       2100    1252

In [87]:
data.iloc[1,0]

1253

In [96]:
for i in range(4):
    print(data.iloc[0,i])

2845
3425
2942
4215

In [93]:
data.iloc[1,3]

1252

In [ ]:
#0 marks using dictionary
import pandas as pd
import numpy as np
T=int(input())
campaign_name=input().split(" ")
no_of_emails=[]
email_open_rate=[]
ls=[]
emails=input().split(" ")
open_rate=input().split(" ")
for i in emails:
    no_of_emails.append(int(i))
for i in open_rate:
    email_open_rate.append(int(i))
d={}
for i in range(4):
    d[campaign_name[i]]=[no_of_emails[i],email_open_rate[i]]
data=pd.DataFrame(d) 
mean=np.sum(data.iloc[1])/4
for i in range(data.shape[1]):
    if(data.iloc[1,i]>mean):
        print("True")
    else:
        print("False")

In [102]:
#0 marks using dictionary
import pandas as pd
import numpy as np
T=int(input())
campaign_name=input().split(" ")
no_of_emails=[]
email_open_rate=[]
ls=[]
emails=input().split(" ")
open_rate=input().split(" ")
for i in emails:
    no_of_emails.append(int(i))
for i in open_rate:
    email_open_rate.append(int(i))
d=list(zip(campaign_name,no_of_emails,email_open_rate))
print(d)

4
SoftBank Apple Microsoft Amazon
2845 3425 2942 4215
1253 3256 2100 1252
[('SoftBank', 2845, 1253), ('Apple', 3425, 3256), ('Microsoft', 2942, 2100), ('Amazon', 4215, 1252)]

In [ ]:
4
SoftBank Apple Microsoft Amazon
2845 3425 2942 4215
1253 3256 2100 1252